html,
body {
  height: 100%;
  margin: 0;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.App {
  height: 100%;
  width: 100%;
  background: linear-gradient(45deg, #00ff6e, #802ee5, #e66f34);
  animation: gradientAnimation 5s ease-in infinite;
}


